.margin-for-footer {
    margin-bottom: 130px;
}
body {
    background: url('https://cdn.pixabay.com/photo/2022/08/04/09/12/sea-7364224_960_720.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
}
section {
    margin-bottom: 150px;
    color: aliceblue;
}
